[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
pytest-xfaillist = {editable = true, path = "."}

[dev-packages]
pytest-xfaillist = {editable = true, extras = ["dev"], path = "."}
pip = "*"

[requires]
python_version = "3"
